body {
	font-size: 16px;
	font-family: "Montserrat", "Arial", sans-serif;
	font-size: 16px;
}
/*ПРОЙДЕНО*/

.nav {
	display: block;
	height: auto;
}
/*ПРОЙДЕНО*/

.menu {
	margin-right: 20px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}
/*ПРОЙДЕНО*/

.menuItem {
	/*
	display: flex;
	list-style-type: none;
	*/

	margin-left: 20px;
}
/*ПРОЙДЕНО*/

.menu img,
.button {
	width: 24px;
	height: 24px;
}
/*ПРОЙДЕНО*/

/*
.ava {
	width: 36px;
	height: 36px;
}
*/

.triangle {
	display: none;
	position: absolute;
	top: 49px;
	right: 116px;
	width: 0;
	height: 0;
	z-index: 2;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 12px solid #d4d4d4;
}
/*ПРОЙДЕНО*/

.empty {
	position: absolute;
	top: 2px;
	left: -10px;
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #fff;
}
/*ПРОЙДЕНО*/

.popUp,
.MoreApps {
	position: absolute;
	/*overflow-y: auto;*/
	clip: rect(0 0 0 0);
}
/*ПРОЙДЕНО*/

.button {
	margin-left: 20px;
	background-image: url(Icons/dots.png);
	background-size: cover;
	cursor: pointer;
}
/*ПРОЙДЕНО*/

.menu:hover {
	cursor: pointer;
}
/*ПРОЙДЕНО*/

.menuItem:hover,
.button:hover {
	text-decoration: underline;
	opacity: 0.5;
}
/*ПРОЙДЕНО*/

.iconsContainer {
	display: none;
	position: absolute;
	width: 280px;
	height: 362px;
	top: 60px;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.7);
	/*overflow-y: auto;*/
}
/*ПРОЙДЕНО*/

.popupIcons,
.hiddenBlock {
	margin-top: 10px;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	padding: 0;
}
/*ПРОЙДЕНО*/

.popupIconsItem,
.hidden {
	display: flex;
	/*justify-content: start;*/
	width: 70px;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px 5px 0 5px;
}
/*ПРОЙДЕНО*/

.popupIconsItem a:hover {
	outline: 1px solid #a1a1a1;
}
/*ПРОЙДЕНО*/

/*
.space:hover {
	outline: none;
}
*/

.popupIcons a,
.hiddenBlock a {
	text-decoration: none;
	color: black;
	padding: 2px;
	width: 100%;
	height: 100%;
}
/*ПРОЙДЕНО*/

.popupIconsItem a:focus {
	outline: 1px solid #3f56fb;
}
/*ПРОЙДЕНО*/

.popupIconsItem img,
.hiddenBlock img {
	display: block;
	width: 48px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
/*ПРОЙДЕНО*/

.captions {
	margin-top: 5px;
	text-align: center;
}
/*ПРОЙДЕНО*/

.popUp:checked ~ .iconsContainer {
	display: block;
}
/*ПРОЙДЕНО*/

.popUp:checked ~ .triangle {
	display: block;
}
/*ПРОЙДЕНО*/

.MorePopUp {
	display: block;
	margin-top: 10px;
	/*margin-left: 0;*/
	line-height: 35px;
	text-align: center;
	width: 280px;
	background-color: #eee;
	font-size: 16px;
}
/*ПРОЙДЕНО*/

.hiddenBlock,
.line {
	display: none;
}
/*ПРОЙДЕНО*/

.line {
	color: #eee;
	width: 200px;
	/*margin-left: 40px;*/
	opacity: 0.5;

	margin-right: auto;
	margin-left: auto;
}
/*ПРОЙДЕНО*/

.MoreApps:checked ~ .MorePopUp {
	display: none;
}
/*ПРОЙДЕНО*/

.MoreApps:checked ~ .line {
	display: block;
}
/*ПРОЙДЕНО*/

.MoreApps:checked ~ .hiddenBlock {
	display: flex;
}
